<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="ccs/gallery.css">
	<title>Gallery</title>


</head>

<body>
<div class="nav-wrapper">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">JKM</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Images</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

</div>


<div class="row1">
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_1850.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_1849.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_1847.PNG" alt="">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2414.PNG" alt="FTK">
    </a>
  </div>
  
</div>

<div class="row2">
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2417.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2418.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2419.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2420.PNG">
    </a>
  </div>
  
</div>

<div class="row3">
  
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2636.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2637.PNG">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/ftkkfback-tee-white_2048x2048.png">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/IMG_2639.JPG">
    </a>
  </div>

  
  
</div>

</body>
</html>