
<html>
<head>
<link rel="stylesheet" type="text/css" href="ccs/index.css">
	</head>
<div class="body-wrapper">
   <div class="w3-spin"><h1> Heavyweight</h1></div>
	<br>
	<br>
	<img src="images/logo.jpg" alt="Heavyweight" class="biglogo">

	</div>
	<script src="index.js"></script>

	<div class = 'modal' id ='mymodal'>
		<div class='modal-content'>
		<div class = 'modal-header'>
		 	NYCDA
		</div>
		<div class= 'modal-body'>
		<b>Welcome to NYCDA</b>
		<p>Teacher : BJ Cantlupe </p>
		<p>Teacher's Assistant : Jack Linton </p>
		</div>
		<div class = 'modal-footer'>
		<button class="btnc" id="btnclose">Close</button>
		</div>
		</div>
	</div>
</html>
