
<html>
<head>
<link rel="stylesheet" type="text/css" href="ccs/index.css">
	</head>
	<body>
<div class="body-wrapper">
	<br>
   <div class="w3-spin"><h1> Heavyweight</h1></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<img src="images/logo.jpg" alt="Heavyweight" class="biglogo">


	</div>


	<div class="row1">

	  <div class="col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="images/IMG_1850.PNG">
	    </a>
	  </div>

		<div class="row2">

			<div class="col-md-3">
				<a href="#" class="thumbnail">
					<img src="images/IMG_1849.PNG">
				</a>
			</div>
			<div class="row3">

				<div class="col-md-3">
					<a href="#" class="thumbnail">
						<img src="images/IMG_1850.PNG">
					</a>
				</div>
				<div class="row4">

					<div class="col-md-3">
						<a href="#" class="thumbnail">
							  <img src="images/IMG_1847.PNG">
						</a>
					</div>
					<script src ="index.js"></script>

</html>
