/* line 20, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default {
  background-color: #fff;
  padding: 25px 30px 30px 0px;
  letter-spacing: 0.125em;
}

/* line 26, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default .navbar-fixed-top {
  border-width: 0px;
}

/*.container-fluid {
  height: 100px;

}*/

/* line 31, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default .navbar-brand {

  font-family: monospace;
  font-size: 80px;
  padding-left: 40px;
  color: #C72F00;
}

.navbar-default .navbar-brand img{
  height: 60px;
  width: 60px;
  margin-top: -30%;


.navbar-default .navbar-brand img{
  height: 50px;
  width: 50px;
}

/* line 37, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default .navbar-brand .navbar-brand a:hover {
  color: #fff;
}

/* line 44, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default .navbar-nav li a {
  color: #000;
  font-size: 18px;
  margin-left: 40px;
}

/* line 50, /Users/Kelly/Desktop/scss/about.scss */
.navbar-default .navbar-nav li a:hover {
  color: #C72F00;
}

.footer {
  position: absolute;
  /*margin: 0;*/
  width: 100%;
  height: 50px;
  margin-top: -50px;
  bottom: 0
}

/* line 103, /Users/Kelly/Desktop/scss/about.scss */
.footer-links {
  clear: left;
  list-style-type: none;
  width: 100%;
  height: 90px;
  margin: 0;
  padding-top: 35px;
  text-align: center;
  background-color: #C72F00;
  letter-spacing: 0.125em;
}

/* line 114, /Users/Kelly/Desktop/scss/about.scss */
.footer-links li {
  display: inline-block;
  margin-left: 20px;
}

/* line 118, /Users/Kelly/Desktop/scss/about.scss */
.footer-links li a {
  color: #fff;
  font-size: 16px;
  padding: 15px;
}

/* line 124, /Users/Kelly/Desktop/scss/about.scss */
.footer-links li a:hover {
  color: #171600;
  text-decoration: none;
}
